---
layout: default
title: Traiteur tartiflette, chili con carne,... | Bernard Cook
bread: Autres suggestions
---
<section id="propos" class="inside">
  <h1>Mes autres suggestions</h1>
  {% include breadcrumbs.html %}
  <br><br>
  {% for plat in site.plats %}
  <div class="container-plat">
    <h2 class="plat-titre" id="{{ plat.title }}">{{ plat.title }}</h2>
    <img src="../{{ plat.image | prepend: site.baseurl }}" alt="{{ plat.title }}" title="{{ plat.title }}" class="plat-image" width="500" loading="lazy">
    <div class="plat-texte">
      {{ plat.content }}
    </div>
    <br><br>
  </div>
  {% endfor %}
</section>
