---
layout: default
title: Traiteur tartiflette, chili con carne,... | Bernard Cook
bread: Autres suggestions
---

<section class="banner" style="background-image: url(assets/images/banner-bernardcook-min.jpeg);">
  <div class="container">
    <span class="titre-banner mini">Bernard Cook<br>
    <span class="">au service de la Cuisine .</span></span>
    <br><br>
    <a class="btn btn-flat" href="/contact.html">Contact & devis</a>
    <ul class="social-shares">
      <a href="{{site.social_links.facebook}}" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
      <a href="{{site.social_links.instagram}}" target="_blank"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
    </ul>
  </div>
  <h1 class="titre-page">{{ page.titre }}</h1>
</section>
<!--
<section id="propos" class="inside">
  <h1>Mes autres suggestions</h1>
  {% include breadcrumbs.html %}
  <br><br>
  {% assign plats = site.plats | where: "published",true %}
  {% for plat in plats  %}
  <div class="container-plat">
    <h2 class="plat-titre" id="{{ plat.title }}">{{ plat.title }}</h2>
    <img src="../{{ plat.image | prepend: site.baseurl }}" alt="{{ plat.title }}" title="{{ plat.title }}" class="plat-image" width="500" loading="lazy">
    <div class="plat-texte">
      {{ plat.content }}
    </div>
    <br><br>
  </div>
  {% endfor %}
</section>
-->
<section id="propos" class="inside">
  <h1>Mes autres suggestions</h1>
  {% include breadcrumbs.html %}
  <br><br>
  {% assign plats = site.plats | where: "published",true %}
  <ul class="list-offres">
    {% for plat in plats  %}
    <li class="shadow">
      <h2 class="plat-titre" id="{{ plat.title }}">{{ plat.title }}</h2>
      <div class="offre-list-text">
        {{ plat.content }}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
