---
layout: default
title: Click & Collect | Bernard Cook
titre : Click & Collect
bread: Click & Collect
---
<section class="banner" style="background-image: url(assets/images/banner-bernardcook-min.jpeg);">
    <div class="container">
      <span class="titre-banner mini">Bernard Cook<br>
      <span class="">au service de la Cuisine .</span></span>
      <br><br>
      <a class="btn btn-flat" href="/contact.html">Contact & devis</a>
      <ul class="social-shares">
        <a href="{{site.social_links.facebook}}" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
        <a href="{{site.social_links.instagram}}" target="_blank"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
      </ul>
    </div>
    <h1 class="titre-page">{{ page.titre }}</h1>
</section>
<div class="test">
    <div class="sub-banner inside">
      {% include breadcrumbs.html %}
    </div>
</div>
<nav class="inside" id="nav-click">
    <ul>
        <li><a href="">Les plats</a></li>
        <li><a href="">Conditions</a></li>
        <li><a href="">Commander</a></li>
        <li></li>
    </ul>
</nav>
<section class="inside click-presentation">
    <div>
        <p>Profitez de nos plats conviviviaux pour chez vous en optant pour le click & collect.<br>Les commandes se font une semaine à l'avance.<br>
        Les plats sont récupérés tièdes, pouvant être réchauffé au four, plaque, gazinière,...<br><br>
        <span>Une consigne de 20€ par plat est demandée et restituée lors de la remise du plat.</span>
        </p>
    </div>
<div>
    <img src="/assets/images/pictos/take-away.png">
    <h2>Click & Collect</h2>
</div>
</section>
<section class="inside">
    <h2>Les plats à emporter</h2>
    <ul class="plats-click">
        {% assign plats = site.data.click | where: "published",true %}
        {% for plat in plats  %}
        <li class="plat-click shadow">
            <div class="plat-first">
                <h3 class="click-titre" data-plat="{{ plat.name }}">{{ plat.name }}</h3>
                <p class="click-description" data-description="...">{{ plat.description }}</p>
                <p class="click-qte" data-qte="0">Pour {{ plat.pers }} pers.</p>
            </div>
            <div class="plat-second">
                    <p class="click-prix" data-prix="110.00">{{plat.prix}}.00 €</p>
                    <div class="order-btns">
                        <span class="order-btn minus"><i class="fa fa-minus"></i></span>
                        <span class="counter" data-counter="0">0</span>
                        <span class="order-btn plus"><i class="fa fa-plus"></i></span>
                    </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="inside">
    <div id="order-summary">
        <p>Total : <span>0.00</span> €</p>
        <a href="#commander" class="btn btn-primary">Commander</a>
    </div>
</section>
<section class="inside">
    <h2>Conditions de livraison</h2>
    <p>...</p>
</section>
<section class="inside" id="commander">
    <h2>Commander</h2>
    {% include form-click.html %}
</section>

<script src="/assets/js/counter.js"></script>