<section class="carousel">
    <ul class="carousel-items">
      {% assign plats = site.plats | where: "published",true %}
      {% for plat in plats  %}
        <li class="carousel-item">
            <div class="card">
                <a href="/autres-suggestions.html#{{plat.title}}"><h3 class="card-title">{{ plat.title }}</h3></a>
                <img src="../{{ plat.image | prepend: site.baseurl }}" alt="{{ plat.title }}" title="{{ plat.title }}" class="" width="500" height="350" loading="lazy">
                <div class="card-content">
                    <p></p>
                </div>
            </div>
        </li>
      {% endfor %}
    </ul>
</section>
