<footer>
  <div class="inside">
    <div class="flex">
      <div>
        <p><i class="fa fa-envelope"></i><a id="email-address" href="mailto:contact@bernardcook.fr">contact@bernardcook.fr</a></p>
        <p><i class="fa fa-phone"></i><a id="tel-number" href="tel:+33608688885">0608688885</a></p>
        <ul class="social-shares">
          <a href="{{site.social_links.facebook}}" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
          <a href="{{site.social_links.instagram}}" target="_blank"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
        </ul>
      </div>
      <address>
        <p>10 rue des tilleuls<br>
          67330<br>
          OBERMODERN
        </p>
      </address>
    </div>
    <ul class="footer-links">
      <li><a href="/mentions-legales.html">Mentions Légales</a></li>
      <li><a href="/confidentialite.html">Politique de confidentialité</a></li>
      <li><a href="gestion-cookies.html">Gestion des cookies</a></li>
      <li><a href="plan-site.html">Plan du site</a></li>
    </ul>
  </div>
</footer>
