.plats-click {
    .plat-click {
        display: flex;
        border: solid 1px rgb(229, 229, 229);
        margin-bottom: 1em;
        border-radius: 5px;
        padding: 1em;
        align-items: center;
        border-bottom: 1px $yellow solid;
        .plat-first { width: 100%; display: flex; align-items: center;}
        .plat-second { width: 30%; display: flex; align-items: center;}
        .click-titre { width: 30%; border-right: 1px grey solid;}
        .click-description { width: 80%; border-right: 1px grey solid; padding-left: 1em; }
        .click-qte { width: 20%; border-right: 1px grey solid; padding: 0 1em; text-align: center; }
        .click-prix {  width: 45%; border-right: 1px grey solid; padding: 0 1em; text-align: center; }
        .order-btns { 
            width: 55%;
            padding-left: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $purple;
            .counter {
                width: 40%;
                text-align: center;
                color: black;
            }
            .order-btn {
                border: solid 2px;
                border-radius: 50%;
                /* padding: 5px; */
                justify-content: center;
                align-items: center;
                width: 2em;
                height: 2em;
                display: flex;
                &:hover {
                    cursor: pointer;
                }
            }

        }
    }
}
#order-summary {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    p {
        width: 100%;
        text-align: end;
        font-size: 1.1em;
        font-weight: bold;
    }
    button {
        width: fit-content;
        font-size: 1em;
    }
}
.form-click {
    width: 100%;
}
.click-presentation {
    display: flex;
    div:first-of-type {
        width: 70%;
        p { font-size: 1.2em; font-weight: 500; line-height: 32px;
            span { font-size: 0.8em;}
        }
    }
    div:last-of-type {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 { width: 100%;}
        img { width: 120px; height: auto;}
    }
}