@import "colors";

footer {
  height: auto;
  background-color: $black;
  margin-top: 1em;
  color: white;
  .footer-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    li { padding-right: 1em; }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Avenir';
  }
  .inside {
    padding: 1.2em 0em;
  }
  .social-shares {
    list-style-type: none;
    display: flex;
    margin-top: 1em;
    i { font-size: 1.5em; }
  }
  .fa { font-size: 1em; margin-right: 0.5em; }
  .flex {
    div:first-of-type {
      margin-right: 2em;
    }
  }
  p, a { font-size: 0.9em; }
}
