h2 { font-size: 2em; text-align: center; font-family: "Avenir"; padding: 0.5em 0; }
.propos {
  display: flex;
  h2 { font-size: 2em; text-align: center; font-family: "Avenir"; padding: 0.5em 0; }
  img { border-radius: 3px; }
  p { font-family: "Avenir"; }
  div:first-of-type { padding-right: 1em; }

}
.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(215px, auto);
  img { border: solid 1px $grey; border-radius: 3px; }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  max-width: 1024px;
  text-align: left;
  margin: auto;
  font-weight: bold;
  font-family: "Tamil MN";
  font-size: 2.5em;
  & > span {
    font-family: "Avenir";
    font-weight: normal;
    font-size: 0.6em;
  }
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
