h2 { font-size: 2em; text-align: center; font-family: "Avenir"; padding: 0.5em 0; }
.propos {
  display: flex;
  h2 { font-size: 2em; text-align: center; font-family: "Avenir"; padding: 0.5em 0; }
  img {
    border-radius: 3px;
    width: 100%;
    max-width: 460px;
    height: auto;
  }
  p { font-family: "Avenir"; }
  div:first-of-type { padding-right: 1em; max-width: 50%; }

}
.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(215px, auto);
  img { border: solid 1px $grey; border-radius: 3px; }
}
.presta-list {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(215px, auto);
  li {
    border: solid 1px $grey;
    list-style: none;
    //height: 5em;
    width: 100%;
  }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  //max-width: 1024px;
  //text-align: left;
  //margin: auto;
  font-weight: bold;
  font-family: "Tamil MN";
  font-size: 2.5em;
  & > span {
    font-family: "Avenir";
    font-weight: normal;
    font-size: 0.6em;
  }
}
.banner {
  color: white;
  background-color: $black;
  .inside { display: flex;
    div:first-of-type {
      flex-grow: 1;
    }
    img { width: 50%; }
  }
}

.banner {
  .container {
    max-width: 1024px;
    text-align: left;
    margin: auto;
  }
  a {
    color: white;
    font-family: "Avenir";
    text-decoration: none;
    border: solid 1px;
    border-radius: 3px;
    padding: 0.2em 1em;
  }
}
.clients-pictos {
  display: flex; justify-content: center;
  li {
    display: flex;
    align-items: center;
    margin: 0em 1em;
  }
  img { height: 50px; width: auto; filter: sepia(1); }
}
