//font-family: 'Allison', cursive;
//font-family: 'Assistant', sans-serif;
//font-family: 'Klee One', cursive;
//font-family: 'Urbanist', sans-serif;
@import "colors";
* {
  margin : 0;
  padding: 0;
  box-sizing: content-box;
}
html, body {
  width: 100% !important;
  overflow-x: hidden !important;
}
header { height: 0px; }
.current {
  color: green;
}
h1, h2, h3 {
  //font-family: 'Allison', cursive;
}
h1 { font-size: 4em; }
h2, h3 { font-family: "Avenir"; text-align: center;
  padding: 0.5em 0;
}
p { font-family: "Avenir"; }
.inside {
  max-width: 1024px;
  margin: auto;
  padding: 2em 0em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.yellow {
  background-color: $yellow;
}
.flex {
  display: flex;
}
