//font-family: 'Allison', cursive;
//font-family: 'Assistant', sans-serif;
//font-family: 'Klee One', cursive;
//font-family: 'Urbanist', sans-serif;
@import "colors";
* {
  margin : 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  width: 100% !important;
  overflow-x: hidden !important;
}
header { height: 0px; }
.current {
  color: green;
}
h1, h2, h3, p, ul, li {
  //font-family: 'Allison', cursive;
  font-family: "Avenir";
}
h1 { font-size: 4em; }
h2, h3 { font-family: "Avenir"; text-align: center;
  padding: 0.5em 0;
}
.titre-page { font-size: 2.5em; text-align: center; }
.inside {
  max-width: 1024px;
  margin: auto;
  padding: 2em 0em;
  flex-wrap: wrap;
  justify-content: space-between;
}
.yellow {
  background-color: $yellow;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  &.reverse { flex-direction: row-reverse; }
}
#mentions {
  text-align: left;
  h2, h3, p { text-align: left; }
  h2, h3 { font-size: 1.5em; border-bottom: solid 1px; }
}
