/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {
  #menuToggle {
    top: 25px !important;
    left: 25px !important;
  }
  .banner {
    background-position: center right 30% !important;
  }
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
  .inside {
    padding-left: 1em;
    padding-right: 1em;
  }
  #about {
    div { width: 100%; }
  }
  .texte { width: 100% !important; }
  form {
    width: 100% !important; margin: auto;
    padding: 0px;
  }
  #offers {
    display: flex;
    flex-wrap: wrap;
    .flex { width: 100% !important; }
  }
  .banner-color {
    div { width: 95%; }
    h1 { font-size: 1.8em; width: 100%; }
  }
  .accroche {
    h2 {
      width: 85%;
    }
    .img-gradient::after {
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 300px; height: 350px;
      background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6));
    }
    .just-flex {
      div:nth-last-child(-n+2) {
        display: none;
      }
    }
  }
  #specialites {
    height: auto;
    position: static;
    //background-size:contain;
    .inside { position: static;
    h2 { color: white; }
    }
  }
  .flex {
    &.side {
      .first { width: 100%; }
      .second { width: 100%; margin-top: 1.5em; }
    }
  }
}

@media all and (max-width: 480px) {
  #menuToggle {
    top: 25px !important;
    left: 25px !important;
  }
  .banner {
    background-position: center right 30% !important;
  }
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
  .inside {
    padding-left: 1em;
    padding-right: 1em;
  }
  #about {
    div { width: 100%; }
  }
  .texte { width: 100% !important;}
  form {
    width: 100% !important; margin: auto;
    padding: 0px;
  }
  #offers {
    display: flex;
    flex-wrap: wrap;
    .flex { width: 100% !important; }
  }
  .banner-color {
    div { width: 95%; }
    h1 { font-size: 1.8em; width: 100%; }
  }
  .accroche {
    h2 {
      width: 85%;
    }
    .img-gradient::after {
      content: '';
      position: absolute;
      left: 0; top: 0;
      width: 300px; height: 350px;
      background: none;
      background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6));
    }
  }
  .just-flex {
    div:nth-last-child(-n+2) {
      display: none;
    }
  }
  #specialites {
    height: auto;
    position: static;
    //background-size:contain;
    margin-top: 2em;
    .inside { position: static;
    h2 { color: white; }
    }
  }
  #contact {
    .inside {
      .map {
        width: 100%;
      }
    }
  }
  .flex {
    &.side {
      .first { width: 100%; }
      .second { width: 100%; margin-top: 1.5em; }
    }
  }
}

/*------------------------------------------
  Foundation Media Queries
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen { } /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
  .img-float {
  float: unset;
  width: 100%;
  height: 20vh;
  margin: 0;
  padding: 0;
  display: flex;
  }
  .list-offres {
    li {
      flex-direction: column;
    }
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
